In [163]:
import pandas as pd
import numpy as np

In [164]:
df_schools  = pd.read_csv("raw_data/schools_complete.csv")
df_students = pd.read_csv("raw_data/students_complete.csv")

## District Summary

In [165]:
passing_rate = 0.5*(len(df_students[df_students.math_score>65])/len(df_students) + len(df_students[df_students.reading_score>65])/len(df_students))
df_summary = pd.DataFrame({"Summary Item":
                           ['Total schools', 'Total students','Total budget ($)','Average Math Score',
                           'Average Reading Score','Percentage of student passing Math (>65)',
                            'Percentage of student passing Reading (>65)','Overall passing rate'],
                          "Data":[len(df_schools),len(df_students),df_schools['budget'].sum(),df_students['math_score'].mean(),
                                  df_students['reading_score'].mean(),100*len(df_students[df_students.math_score>65])/len(df_students),
                                  100*len(df_students[df_students.reading_score>65])/len(df_students),100*passing_rate]})

In [166]:
df_summary[['Summary Item','Data']]

                                  Summary Item          Data
0                                Total schools  1.500000e+01
1                               Total students  3.917000e+04
2                             Total budget ($)  2.464943e+07
3                           Average Math Score  7.898537e+01
4                        Average Reading Score  8.187784e+01
5     Percentage of student passing Math (>65)  8.311208e+01
6  Percentage of student passing Reading (>65)  9.426347e+01
7                         Overall passing rate  8.868777e+01

## School Summary

In [167]:
df_schools = df_schools.sort_values('name').reset_index(drop=True)

In [168]:
df_schools

    School ID                   name      type  size   budget
0           7     Bailey High School  District  4976  3124928
1           6    Cabrera High School   Charter  1858  1081356
2           1   Figueroa High School  District  2949  1884411
3          13       Ford High School  District  2739  1763916
4           4    Griffin High School   Charter  1468   917500
5           3  Hernandez High School  District  4635  3022020
6           8     Holden High School   Charter   427   248087
7           0      Huang High School  District  2917  1910635
8          12    Johnson High School  District  4761  3094650
9           9       Pena High School   Charter   962   585858
10         11  Rodriguez High School  District  3999  2547363
11          2    Shelton High School   Charter  1761  1056600
12         14     Thomas High School   Charter  1635  1043130
13          5     Wilson High School   Charter  2283  1319574
14         10     Wright High School   Charter  1800  1049400

In [183]:
df_student_count = pd.DataFrame(df_students.groupby('school').count()['name'])
df_student_count = df_student_count.reset_index(drop=False)
df_student_count.columns = ['name','Number_of_students']

In [208]:
df_schools_2= df_schools.set_index('name').join(df_student_count.set_index('name'))
df_schools_2 = df_schools_2.reset_index(drop=False)
df_schools_2['Budget per student']=df_schools_2.budget/df_schools_2.Number_of_students
df_mean_math = pd.DataFrame(df_students.groupby('school')['math_score'].mean()).reset_index(drop=False)
df_mean_math.columns = ['name','mean_math_score']
df_schools_3 = df_schools_2.set_index('name').join(df_mean_math.set_index('name'))
df_schools_3 = df_schools_3.reset_index(drop=False)

In [213]:
df_mean_reading = pd.DataFrame(df_students.groupby('school')['reading_score'].mean()).reset_index(drop=False)
df_mean_reading.columns = ['name','mean_reading_score']
df_schools_4 = df_schools_3.set_index('name').join(df_mean_reading.set_index('name'))
df_schools_4 = df_schools_4.reset_index(drop=False)